<div class="body">
  <div class="main-container">
    <header>
      <h1>Scrapio.AI</h1>
    </header>
    <div class="container" *ngIf="videoArr.length > 0">
      <main>
        <div class="video-grid">
          <div class="video-card" *ngFor="let video of videoArr">
            <div class="video-thumbnail">
              <video [src]="video?.video_link" (click)="visitPlayer(video?.v_id)"></video>
              <p>{{video.videoname}}</p>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div *ngIf="videoArr.length == 0 && isDataNotFound" class="notFound">
      <h1>Data Not Found</h1>
    </div>
    <footer>
      <div class="search-bar">
        <input type="text" placeholder="Search for videos..." [(ngModel)]="keyword" (keyup)="keyupFunc()">
        <button (click)="onSearch()" [disabled]="keyword == ''">Search</button>
      </div>
    </footer>
  </div>
</div>