.body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}
h1 {
    margin-bottom: 20px;
}
.search-container {
    display: flex;
    margin-bottom: 40px;
}
.search-container input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}
.search-container button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #6f42c1;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
.search-container button:disabled {
    cursor: no-drop;
}
.videos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px;
    width: 250px;
    text-align: center;
}
.video video {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;
}